.navbar {
    width: 100%;
    height: 64px;
    position: fixed;
    display: flex;
    align-items: center;
    box-shadow: $nav-shadow;
    background-color: white;

    &__wrapper {
        display: flex;
        justify-content: space-between;

        &__logo {
            font-size: 23px;
            font-weight: 700;
        }

        &__buttons {
            position: relative;
            display: flex;

            &__button {
                margin: 0 5px 0 5px !important;

                &--avatar {
                    margin-left: 10px !important;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}