.start-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, .6);

    &__typography {
        font-weight: 700 !important;
        text-align: center;

        &--color {
            color: #0070f3;
        }
    }
}